html, body {
    height: 100%; /* Ensure body fills the entire viewport */
    margin: 0; /* Remove default margins */
  }
  
  .background-image {
    background-image: url("background.jpg");
    background-size: cover; /* Make image cover the entire viewport */
    position: fixed; /* Fix image to the viewport */
    width: 100%;
    height: 100%;
  }
  
  .footer {
    position: absolute; /* Position footer absolutely within viewport */
    bottom: 0; /* Align footer to the bottom */
    width: 100%;
    /* Add your footer styles here */
  }

footer{
    background: #1B201E;
    padding-top: 30px;
}
.footer{
    width: 700px;
    height: 200px;
    margin: auto;
    margin-top: 0;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
    display: inline-block;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}

.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #C4BAA6;
}
.social-icons i:hover{
    color: #C4BAA6;
}
.bottom-bar{
    background: #B68D40;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}