  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
   
  }  
  .menu-bar {
    background: none;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
  }
  .menu-bar:hover{
    text-decoration: underline;
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  
  .menu-bar ul li {
    width: 120px;
    padding: 10px 30px;
    text-align: center;
  
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
  
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  .drop {
    display: none;
    font-size: 10px;
  }
  
  .menu-bar ul li:hover .drop {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }
  
  .menu-bar ul li:hover .drop ul {
    display: block;
    margin: 10px;
  }
  
  .menu-bar ul li:hover .drop ul li {
    width: 150px;
    padding: 10px;
  }
  